<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/Belfast.css">
        <link rel="stylesheet" href="">
        <script src="../static/Header.js" defer></script>
        <title>World Hotels</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="brand-name">WH | World Hotels</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="../Sign-Up/Login.html">Login</a></li>
                </ul>
            </div>
        </nav>

        <header class="header" id="home">
            <div class="section__container header__container">
              <p class="section__subheader">BELFAST</p>
              <h1>The Perfect<br />Base For You</h1>
              <button class="btn1"><a href="#">Take A Tour</a></button>
            </div>
          </header>
      
          <section class="booking">
            <div class="section__container booking__container">
              <form action="/">
                <div class="input__group">
                  <label for="arrival">Arrival Date</label>
                  <input type="text" placeholder="Your Arrival Date" />
                </div>
                <div class="input__group">
                  <label for="departure">Departure Date</label>
                  <input type="text" placeholder="Your Departure Date" />
                </div>
                <div class="input__group">
                  <label for="guests">Guests</label>
                  <input type="text" placeholder="No Of Guests" />
                </div>
                <button class="btn"><a href="#">Check Availability</a></button>
              </form>
            </div>
          </section>

          <div class="useful-links">
            <div class="col-4 col-m-4">
                <div class="LinksHeader">
                    <h2>Useful Links</h2>
                </div>
                <ul>
                    <li><a href="https://visitbelfast.com/">A Guide To Belfast</a></li>
                    <li><a href="https://visitbelfast.com/plan/getting-around-belfast/">Public Transport</a></li>
                    <li><a href="https://www.lonelyplanet.com/ireland/northern-ireland/belfast">Landmarks</a></li>
                    <li><a href="https://www.booking.com/flights/route/city-to-city/gb-london-to-gb-belfast.en-gb.html">Flights To Belfast</a></li>
                </ul>
            </div>
        </div>


            <div class="info">
                <div class="col-8 col-m-8">
                    <h4>About Belfast</h4>
                    <p>A former industrial powerhouse with a troubled past, Belfast has pulled off a remarkable transformation into a hip party town. The capital of Northern Ireland sits on the river Lagan and  is the shopping, retail, educational, commercial, entertainment, and service centre for Northern Ireland and the seat of many of its largest businesses and hospitals. </p>
                </div>
            </div>



    </body>
</html>

