<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/login.css">
  <title>Booking Success!</title>
</head>
<body>
  <div class="center">
    <h1>Booking Successful!</h1>
    <form method="post">
      <div class="txt_field">
        <h3>We have sent a confirmation email to you along with all the detals, thank you for staying with us and have a lovely time!</h3>
      </div>
      <input type="submit" value="Back To Home">
      <div class="signup_link">
        WH | World Hotels
      </div>
    </form>
  </div>
</body>
</html>