<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/Bristol.css">
        <link rel="stylesheet" href="">
        <script src="../static/Header.js" defer></script>
        <title>World Hotels</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="brand-name">WH | World Hotels</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="../Sign-Up/Login.html">Login</a></li>
                </ul>
            </div>
        </nav>

        <header class="header" id="home">
            <div class="section__container header__container">
              <p class="section__subheader">BRISTOL</p>
              <h1>The Perfect<br />Base For You</h1>
              <button class="btn"><a href="#">Take A Tour</a></button>
            </div>
          </header>
      
          <section class="booking">
            <div class="section__container booking__container">
              <form action="/">
                <div class="input__group">
                  <label for="arrival">Arrival Date</label>
                  <input type="text" placeholder="Your Arrival Date" />
                </div>
                <div class="input__group">
                  <label for="departure">Departure Date</label>
                  <input type="text" placeholder="Your Departure Date" />
                </div>
                <div class="input__group">
                  <label for="guests">Guests</label>
                  <input type="text" placeholder="No Of Guests" />
                </div>
                <button class="btn"><a href="#">Check Availability</a></button>
              </form>
            </div>
          </section>

          <div class="useful-links">
            <div class="col-4 col-m-4">
                <div class="LinksHeader">
                    <h2>Useful Links</h2>
                </div>
                <ul>
                    <li><a href="https://visitbristol.co.uk/information/visitor-guide">Bristol Guide</a></li>
                    <li><a href="https://visitbristol.co.uk/your-visit/travelling-around-bristol/public-transport">Public Transport</a></li>
                    <li><a href="https://www.tripadvisor.co.uk/Attractions-g186220-Activities-c47-Bristol_England.html">Local Landmarks</a></li>
                </ul>
            </div>
        </div>


            <div class="info">
                <div class="col-8 col-m-8">
                    <h4>About Bristol</h4>
                    <p>Bristol was the first British city to be named European Green Capital. Bristol's modern economy is built on the creative media, technology, electronics and aerospace industries. Laid-back, welcoming and kind: your typical Bristolian. All the buzz of a major city without the expanse, Bristol is truly walkable. Bristol is a city straddling the River Avon in the southwest of England with a prosperous maritime history. Its former city-centre port is now a cultural hub, the Harbourside, where the M Shed museum explores local social and industrial heritage. The harbour's 19th-century warehouses now contain restaurants, shops and cultural institutions such as contemporary art gallery The Arnolfini.</p>
                </div>
            </div>



    </body>
</html>